:root{
    --primary-color: #c379ef;
    --dark-color: #252525;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* ### Navbar ### */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-color);
    width: 100%;
    height: 10vh;
    padding: 0 10vh;
}

nav > a{
    height: 100%;
    display: flex;
    align-items: center;
}

nav a img{
    height: 100%;
}

nav ul{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 100px;
}

nav li a{
    color: white;
    font-size: 1.3rem;
    transition: all 0.3s ease-in-out;
}

nav li a:hover{
    color: var(--primary-color);
}

nav li a:after{
    content: '';
    display: block;
    height: 3px;
    border-radius: 5px;
    background: var(--primary-color);
    width: 0;
    transition: width 0.3s ease;
}

nav li a:hover:after{
    width: 100%;
}

/* ### Default ### */

.default{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.default h1, .default h2{
    font-size: 5rem;
    font-weight: 1000;
    color: var(--primary-color);
    text-transform: uppercase;
}

.default h2{
    font-size: 2rem;
    font-weight: 600;
}

/* ### Sign-in ### */

.sign{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.sign form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-color);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.sign h2{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.sign form label{
    align-self: flex-start;
    margin-bottom: 5px;
}

.sign form input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.sign .name{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.sign .submit{
    background-color: var(--dark-color);
    color: var(--primary-color);
    border: var(--primary-color) 2px solid;
    font-size: 1.2rem;
    height: auto;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
}

.sign .submit:hover{
    background-color: var(--primary-color);
    color: white;
    border: var(--dark-color) 2px solid;
}

.sign p{
    margin-top: 10px;
}

.sign a{
    color: var(--primary-color);
}