:root{
    --primary-color: #c379ef;
    --dark-color: #080808;
    --dark-color2: #1a1a1a;
    --border-color: #2f3336;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: var(--dark-color);
    display: flex;
    justify-content: space-between;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--dark-color) inset !important;
    -webkit-text-fill-color: white !important;
}

::selection{
    background-color: var(--primary-color);
    color: white;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
    border-radius: 10px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/* ### Navbar ### */

.navbar, .right{
    position: sticky;
    top: 0;
    width: 30%;
    height: 100vh;
    background-color: var(--dark-color);
}

.navbar nav{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    margin-left: 25%;
}

nav a{
    color: white;
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out;
    padding: 15px 15px 15px 10px;
    border-radius: 50px;
    margin: 2px 0;
    display: flex;
    align-items: center;
}

nav a img{
    height: 25px;
    margin-right: 15px;
}

nav .post{
    padding: 15px 100px;
    margin-top: 10px;
    border: var(--primary-color) 2px solid;
    color: var(--primary-color);
}

nav a:hover{
    background-color: var(--primary-color);
    color: white;
}

nav .post:hover{
    background-color: var(--primary-color);
    color: white;
}

nav .logo:hover{
    background-color: transparent;
}

/* ### Default ### */

.default{
    width: 40%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.default h1, .default h2{
    font-size: 5rem;
    font-weight: 1000;
    color: var(--primary-color);
    text-transform: uppercase;
}

.default h2{
    font-size: 2rem;
    font-weight: 600;
}

.default a{
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    font-size: 1.2rem;
    height: auto;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
}

/* ### Sign-in ### */

.sign{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 40%;
}

.sign form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-color);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    border: var(--border-color) 1px solid;
    gap: 20px;
}

.sign h2{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.inputBox{
    position: relative;
    width: 100%;
}

.sign form label{
    align-self: flex-start;
    margin-bottom: 5px;
}

.sign form input{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    background-color: transparent;
    color: white;
    border: var(--border-color) 1px solid;
    font-size: 1em;
}

.sign .inputBox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(195, 121, 239, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
}

.sign form input:focus{
    background-color: transparent;
    outline: none;
    border: var(--primary-color) 1px solid;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    color: white;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.8em;
    padding: 0 10px;
    background: #c379ef;
    border-left: #c379ef 1px solid;
    border-right: #c379ef 1px solid;
    letter-spacing: 0.2em;
    border-radius: 2px;
}

.inputBox input:valid,
.inputBox input:focus{
    border: #c379ef 1px solid;
}

.sign .name{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.sign .submit{
    background-color: var(--dark-color);
    color: var(--primary-color);
    border: var(--primary-color) 2px solid;
    font-size: 1.2rem;
    height: auto;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
}

.sign .submit:hover{
    background-color: var(--primary-color);
    color: white;
    border: var(--dark-color) 2px solid;
}

.sign p{
    margin-top: 10px;
}

.sign a{
    color: var(--primary-color);
}

/* ### Post Card ### */

.post-list{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    border: var(--border-color) 1px solid;
    gap: 10px;
}

.title div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title div img{
    height: 50px;
}

.title div h1{
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
}

.title hr{
    width: 100%;
    border: none;
    border-bottom: var(--border-color) 1px solid;
}

.title .post-choice{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-top: var(--border-color) 1px solid;
}

.title .post-choice a{
    color: var(--border-color);
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    padding: 10px;
}

.title .post-choice a:hover{
    color: var(--primary-color);
}

.title .post-choice .current-choice{
    color: var(--primary-color);
}

.title .post-choice .current-choice:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    margin-top: 5px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--dark-color);
    color: white;
    padding: 10px;
    border: var(--border-color) 1px solid;
    width: 100%;
    cursor: pointer;
}

.card:hover{
    background-color: var(--dark-color2);
}

.card-profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    padding: 10px;
}

.card-profile:hover{
    text-decoration: var(--primary-color) underline;
}

.card-profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.card-profile p{
    color: #c379ef;
    font-weight: 600;
    font-size: 1.2rem;
}

.card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    width: 100%;
    word-break: break-word;
}

.card-content p{
    text-align: justify;
    align-self: flex-start;
    margin: 0 60px;
}

.card-content img{
    width: auto;
    height: 200px;
    border-radius: 10px;
}

/* ### Better Card ### */

.blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.transparent-blur{
    backdrop-filter: blur(0);
    background-color: rgba(255, 255, 255, 0.2);
    align-items: flex-start;
}

.better-card{
    width: 40%;
    border-radius: 25px;
    position: relative;
    cursor: default;
}

.better-card:hover{
    background-color: var(--dark-color);
}

.quit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 2rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.quit-btn:hover{
    background-color: var(--primary-color);
}

.delete-btn{
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.delete-btn:hover{
    opacity: 0.7;
}

.delete-btn img{
    width: 25px;
    height: 25px;
}

.better-card-profile span{
    color: #b4b0b0;
    font-weight: normal;
}

.better-card footer{
    padding: 10px 0;
    color: #b4b0b0;
}

.tag{
    color: var(--primary-color);
}

.tag:hover{
    text-decoration: underline;
}

.better-card hr{
    width: 100%;
    border: none;
    border-bottom: var(--border-color) 1px solid;
}

.like-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.like-btn p{
    align-self: center;
}

.like-btn .downvote-btn img{
    transform: rotate(180deg);
}

.like-btn img{
    width: 25px;
    height: 25px;
}

.like-btn a:hover{
    opacity: 0.7;
}

/* ### Poster ### */

.poster{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark-color);
    margin-top: 5vh;
    border-radius: 25px;
    padding: 20px;
    color: white;
    position: relative;
    width: 500px;
}

.poster form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.poster .text-content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

.poster .profile-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.poster form #text{
    resize: none;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    width: 70%;
    height: 200px;
    font-size: 1.2rem;
    margin-top: 15px;
}

.poster .submit{
    background-color: var(--dark-color);
    color: var(--primary-color);
    border: var(--primary-color) 2px solid;
    font-size: 1.2rem;
    height: auto;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 10px 30px;
    border-radius: 25px;
}

.poster .submit:hover{
    background-color: var(--primary-color);
    color: white;
    border: var(--dark-color) 2px solid;
}

.poster hr{
    width: 100%;
    border: none;
    border-bottom: var(--border-color) 1px solid;
    margin: 10px 0;
}

.poster .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.poster label img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.poster label img:hover{
    opacity: 0.7;
}

.poster #inputfile{
    display: none;
}

/* ### User Profile ### */

.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 30px;
}

.right .user-profile{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.right .user-profile div{
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.right .user-profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 20px;
}

.right .user-profile h2{
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
}

.right .user-options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.right .user-options a{
    text-align: center;
    color: var(--primary-color);
    border: var(--primary-color) 2px solid;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    padding: 10px 20px;
    width: 100%;
}

.right .user-options a:hover{
    background-color: var(--primary-color);
    color: white;
}

.right .user-options .deconnexion:hover{
    background-color: red;
    color: white;
    border: red 2px solid;
}

#follow-user{
    color: var(--primary-color);
    border: var(--primary-color) 2px solid;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    padding: 10px 30px;
    border-radius: 25px;
    align-self: center;
    margin-bottom: 20px
}

#follow-user:hover{
    background-color: var(--primary-color);
    color: white;
}

.followers{
    color: var(--primary-color);
}

.followers:hover{
    text-decoration: underline;
}

/* ### Sign Settings ### */

.sign-settings form{
    width: 400px;
}

.sign-settings h2{
    text-align: center;
}

.sign-settings img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.sign-settings #profilePic{
    display: none;
}

/* ### Pagination ### */

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
    flex-wrap: wrap;
}

.pagination a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    border: var(--primary-color) 2px solid;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    width: 40px;
    height: 40px;
}

.pagination #current-page{
    background-color: var(--primary-color);
    color: white;
}

.pagination a:hover{
    background-color: var(--primary-color);
    color: white;
}

/* ### Tag ### */

.tag-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 30px;
    gap: 20px;
}

.tag-profile h2{
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
}

.tag-profile .tag-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.tag-profile a{
    color: var(--primary-color);
    border: var(--primary-color) 2px solid;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    padding: 10px 20px;
}

.tag-profile a:hover{
    background-color: var(--primary-color);
    color: white;
}

/* ### Back Office ### */

.back-office{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.back-office a{
    text-align: center;
    color: var(--primary-color);
    border: var(--primary-color) 2px solid;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    padding: 10px 20px;
    width: 100%;
}

.back-office a:hover{
    background-color: var(--primary-color);
    color: white;
}

/* ### Best User / Tag ### */

.best{
    display: flex;
    justify-content: center;
    align-items: center;
}

.best-user,
.best-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.best-user .card,
.best-tag .card{
    width: auto;
    height: auto;
}

.best-tag .card-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 10px;
}

.best-user .card:hover,
.best-tag .card:hover{
    background-color: var(--dark-color);
    cursor: default;
}