:root{
    --primary-color: #c379ef;
    --dark-color: #080808;
    --dark-color2: #1a1a1a;
    --border-color: #2f3336;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: var(--dark-color);
    display: flex;
    justify-content: space-between;
}

/* ### Navbar ### */

.navbar, .right{
    position: sticky;
    top: 0;
    width: 30%;
    height: 100vh;
    background-color: var(--dark-color);
}

.navbar nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    margin-left: 25%;
}

nav a{
    color: white;
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out;
    padding: 15px 15px 15px 10px;
    border-radius: 50px;
    margin: 2px 0;
    display: flex;
    align-items: center;
}

nav a img{
    height: 25px;
    margin-right: 15px;
}

nav .post{
    padding: 15px 100px;
    margin-top: 10px;
    border: var(--primary-color) 2px solid;
    color: var(--primary-color);
}

nav a:hover{
    background-color: var(--primary-color);
    color: white;
}

nav .post:hover{
    background-color: var(--primary-color);
    color: white;
}

nav .logo:hover{
    background-color: transparent;
}

/* ### Default ### */

.default{
    width: 40%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.default h1, .default h2{
    font-size: 5rem;
    font-weight: 1000;
    color: var(--primary-color);
    text-transform: uppercase;
}

.default h2{
    font-size: 2rem;
    font-weight: 600;
}

.default a{
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    font-size: 1.2rem;
    height: auto;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
}

/* ### Sign-in ### */

.sign{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 40%;
}

.sign form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-color);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    border: var(--border-color) 1px solid;
}

.sign h2{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.sign form label{
    align-self: flex-start;
    margin-bottom: 5px;
}

.sign form input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.sign .name{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.sign .submit{
    background-color: var(--dark-color);
    color: var(--primary-color);
    border: var(--primary-color) 2px solid;
    font-size: 1.2rem;
    height: auto;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
}

.sign .submit:hover{
    background-color: var(--primary-color);
    color: white;
    border: var(--dark-color) 2px solid;
}

.sign p{
    margin-top: 10px;
}

.sign a{
    color: var(--primary-color);
}

/* ### Post Card ### */

.post-list{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    border: var(--border-color) 1px solid;
    padding: 10px;
    gap: 10px;
}

.title img{
    height: 50px;
}

.title h1{
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--dark-color);
    color: white;
    padding: 10px;
    border: var(--border-color) 1px solid;
    width: 100%;
}

.card:hover{
    background-color: var(--dark-color2);
}

.card-profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    padding: 10px;
}

.card-profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.card-profile p{
    color: #c379ef;
    font-weight: 600;
    font-size: 1.2rem;
}

.card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    width: 100%;
}

.card-content p{
    text-align: justify;
    align-self: flex-start;
}

.card-content img{
    width: auto;
    height: 200px;
    border-radius: 10px;
}

/* ### Better Card ### */

.blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.better-card{
    width: 40%;
    border-radius: 20px;
    position: relative;
}

.better-card:hover{
    background-color: var(--dark-color);
}

.quit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%) translateY(-50%);
    color: white;
    font-size: 2rem;
    background-color: var(--dark-color2);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.quit-btn:hover{
    background-color: var(--primary-color);
}

.better-card-profile span{
    color: #b4b0b0;
    font-weight: normal;
}

.better-card footer{
    padding: 10px 0;
    color: #b4b0b0;
}